<div mat-dialog-content>
  <mat-vertical-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstStep">
      <form [formGroup]="firstStep">
        <ng-template matStepLabel>Registrar Inventario</ng-template>
        <mat-form-field appearance="outline">
          <mat-label> Cantidad</mat-label>
          <input
            matInput
            type="number"
            placeholder="40"
            formControlName="cantidad"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Escoge parte</mat-label>
          <mat-select formControlName="parte_id" name="parteSelect">
            <mat-option [(value)]="part.id" *ngFor="let part of parts">
              {{ part.nombre_parte }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-step>

    <mat-step>
      <div>
        <button mat-raised-button matStepperNext (click)="insertStock()">
          Registrar
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
