<div mat-dialog-content>
  <mat-vertical-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstStep">
      <form [formGroup]="firstStep">
        <ng-template matStepLabel>Registrar Empleado</ng-template>
        <mat-form-field appearance="outline">
          <mat-label> Nombre(s)</mat-label>
          <input
            matInput
            type="text"
            placeholder="Bernardo"
            formControlName="nombre"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Apellido(s)</mat-label>
          <input
            matInput
            type="text"
            placeholder="Elias"
            formControlName="apellidos"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Telefono</mat-label>
          <input
            matInput
            type="text"
            placeholder="5556325553"
            formControlName="telefono"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Dirección</mat-label>
          <input
            matInput
            type="text"
            placeholder="Paseo de la Florida 16"
            formControlName="direccion"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="user@mal.com"
            formControlName="email"
          />
        </mat-form-field>
        <div></div>
      </form>
    </mat-step>

    <mat-step
      >
      <div>      <button mat-raised-button matStepperNext (click)="insertEmployee()">
        Registrar
      </button></div>

    </mat-step>
  </mat-vertical-stepper>
</div>
