<div mat-dialog-content>
  <mat-vertical-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstStep">
      <form [formGroup]="firstStep">
        <ng-template matStepLabel>Registrar Empleado</ng-template>
        <mat-form-field appearance="outline">
          <mat-label> Nombre(s)</mat-label>
          <input matInput type="text" placeholder="Bernardo" formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Apellido(s)</mat-label>
          <input matInput type="text" placeholder="Elias" formControlName="apellidos">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Telefono</mat-label>
          <input matInput type="text" placeholder="555-632-555-1255" formControlName="telefono">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Dirección</mat-label>
          <input matInput type="text" placeholder="Paseo de la Florida 16" formControlName="direccion">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Email</mat-label>
          <input matInput type="email" placeholder="user@mal.com" formControlName="email">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="insertEmployee()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [setControl]="secondStep">
      <form [formGroup]="secondStep">
        <ng-template matStepLabel>Registrar Usuario</ng-template>
        <mat-form-field appearance="outline">
          <mat-label> Nombre de Usuario</mat-label>
          <input matInput type="text" placeholder="Nombre de Usuario" formControlName="nombre_usuario">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Contraseña </mat-label>
          <input matInput type="password" placeholder="Nombre de Usuario" formControlName="contrasena">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label >Escoge al empleado</mat-label>
            <mat-select [(value)]="selected1" formControlName="empleado_id" name="employeesSelect">
                <mat-option [(value)]="employee.id" *ngFor="let employee of employees">
                    {{ employee.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label >Escoge su rol</mat-label>
              <mat-select [(value)]="selected2" formControlName="tipo_usuario_id" name="userTypeSelect">
                  <mat-option [(value)]="userType.id" *ngFor="let userType of userTypes">
                      {{ userType.denominacion_usuario }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="insertUser()">Terminar</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
