/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
    justify-content: center;
    box-shadow: none;
  }
  
  .floating-btn {
    float: right;
    z-index: -1;
  }
  
  table{
    align-self: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: center;
    width: 90%;
  }
  
  th.mat-header-cell {
    padding: 20px !important;
    text-align: center !important;
    font-size: 1.25em;
    color: white;
    background-color: rgb(103, 58, 183);
  }

  tr.mat-row {
    margin: 5px 0px !important;
  }

  tr.mat-row:nth-child(2n) {
    background-color: rgb(221, 221, 221);
  }

  tr.mat-row:nth-child(2n + 1) {
    background-color: rgb(255, 255, 255);
  }
  
  .container-table {
    display: flex;
    justify-content: center;
  }
  
  .container-table-detalle{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }


  div.title-pill {
    display: flex;
    align-items: center;
    background-color: rgb(103, 58, 183);
    border-radius: 20px;
    height: 2.5em;
    margin-left: 3em;
    width: 100%;
}

div.title-pill h2{
    padding: 0.25em 0.25em 0.25em 0.35em;
    justify-content: center;
    text-align: center;
    color: white;
    width: 75%;
}

div.title-pill button{
    justify-content: center !important;
    text-align: center;
    color:  rgb(103, 58, 183);
    background-color: white;
    border-radius: 0% 20px 20px 0%;
    border: solid 2px rgb(103, 58, 183);
    margin-right: -6px;
    height: inherit;
    width: 25%;
}

mat-sidenav-content {
  background-color: white;
}

mat-card.card.mat-card {
  box-shadow: none;
}

mat-expansion-panel.mat-expansion-panel.ng-tns-c5-1.ng-star-inserted,
mat-expansion-panel.mat-expansion-panel.ng-tns-c5-3.ng-star-inserted{
  box-shadow: none;
}

mat-expansion-panel.mat-expansion-panel.ng-tns-c5-1.ng-star-inserted.mat-expanded,
mat-expansion-panel.mat-expansion-panel.ng-tns-c5-3.ng-star-inserted.mat-expanded
{
  box-shadow: none;
}

.dialog-recreate{
  display: block;
  justify-content: center;
  background-color: white;
  padding: 24px;
  border-radius: 4px;
}

.mat-dialog-container {
  display: block;
}

@media (min-width: 900px){
  div.menu-title button.menu-button {
    visibility: hidden;
  }
}

@media (max-width: 900px){
  div.menu-title button.menu-button {
    visibility: visible;
  }

    div.title-pill {
      margin-left: 1em;
  }
}

