<div style="padding: 25px; display: block; text-align: center; background-color: hsla(238, 40%, 85%, 0.6);">
    <h1 mat-dialog-title style="font-weight: bold; margin-bottom: 0; color: rgb(103, 58, 183); transform: scale(1.25);">Hi, {{data.nombre_usuario}}</h1>
   
<div mat-dialog-content style="margin: 10px ;background-color: white; border-radius: 4px;">
    <mat-labe> <mat-icon style="color: rgb(103, 58, 183); vertical-align: middle; transform: scale(2); margin-top: 20px; border-radius: 100%; border: solid 2px hsla(238, 40%, 85%, 0.col-6 );">account_circle</mat-icon></mat-labe>
    <mat-label >
      <h3 style="color: rgb(103, 58, 183);"> Nombre:</h3>
      <p> {{ data.nombre }} </p>
    </mat-label>
    <mat-label >
      <h3 style="color: rgb(103, 58, 183);"> Apellidos:</h3>
      <p> {{ data.apellidos }} </p>
    </mat-label>
    <mat-label >
      <h3 style="color: rgb(103, 58, 183);"> Correo Electrónico:</h3>
      <p> {{ data.email }} </p>
    </mat-label>
  </div>
</div>


